@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-display: "Michroma", sans-serif;
  --font-mono: "Space Mono", monospace;
}

@layer base {
  p {
    font-size: var(--text-base);
    color: var(--color-zinc-400);
  }
  h1 {
    font-family: var(--font-display);
    line-height: 120%;
    margin-bottom: 1rem;
    font-weight: 600;
    @apply text-amber-500 text-3xl md:text-4xl;
  }
  h2 {
    font-size: var(--text-2xl);
    line-height: 120%;
    font-family: var(--font-display);
    margin-bottom: 0.2rem;
    @apply text-amber-500;
  }
}
